# Notebook de tratamento do univeso armas de fogo da GDO

Importa bibliotecas e lê os arquivos

In [1]:
def path_armas():
    import os
    if os.path.isfile(r'I:\MySql\10 - Tbl_dimensao\gdo\tbl_homicidios_2019_ref.xlsx'):#home
        dir_envol = r"I:\MySql\10 - Tbl_dimensao\gdo\tbl_homicidios_2019_ref.xlsx"
    else:
        os.path.isfile(r"D:\Cloud\SQLite\10 - Source\tbl_base_GDO_2021.xls")#office
        dir_envol = r"D:\Cloud\SQLite\10 - Source\gdo\tbl_base_GDO_2021.xls"
    return dir_envol     

def path_classif():
    import os
    if os.path.isfile(r'I:\MySql\10 - Tbl_dimensao\gdo\tbl_homicidios_2019_ref.xlsx'):#home
        dir_classif  = r"I:\MySql\10 - Tbl_dimensao\gdo\tbl_homicidios_2019_ref.xlsx"
    else:
        os.path.isfile(r'D:\Cloud\SQLite\10 - Source\validadores\tbl_classificadores.xlsx')#office
        dir_classif  = r"D:\Cloud\SQLite\10 - Source\validadores\tbl_classificadores.xlsx"
    return dir_classif      
path_armas()
path_classif()

'D:\\Cloud\\SQLite\\10 - Source\\validadores\\tbl_classificadores.xlsx'

In [2]:
import pandas as pd
import numpy as np

df_armas_fgo = pd.read_excel(path_armas(), sheet_name='tbl_armas_fgo')

df_classif  = pd.read_excel(path_classif(), sheet_name='tbl_classificadores')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

Caixa Alta, remove duplicatas e cria index concatenado

In [3]:
def columns():
    for df in [df_armas_fgo]:
        df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')#remove acento dos cabeçalhos
        df.columns = df.columns.str.replace(' ', '_')#remove espaços
        df.columns = df.columns.str.replace('/', '_')#remove barras
        df.columns = df.columns.str.upper()#promove caixa alta
        #df.set_index("NUMERO_REDS", inplace = True)#elege o NUMERO_REDS como Index
        
columns()

In [4]:
df_armas_fgo.columns # NUMERO_REDS

Index(['NUMERO_REDS', 'ORGAO_UNIDADE_REGISTRO', 'UNIDADE_AREA_MILITAR',
       'UNID_REGISTRO_NIVEL_6', 'CODIGO_SUBCLASSE_NAT_PRINCIPAL',
       'TENTADO_CONSUMADO_NAT_PRINCIPAL', 'LOGRADOURO_OCORRENCIA_-_TIPO',
       'LOGRADOURO_OCORRENCIA', 'LOGRADOURO_OCORRENCIA_NAO_CADASTRADO',
       'LOGRADOURO_CRUZAMENTO', 'LOGRADOURO_CRUZAMENTO_NAO_CADASTRADO',
       'NUMERO_LOGRADOURO', 'BAIRRO', 'BAIRRO_NAO_CADASTRADO',
       'COMPLEMENTO_ENDERECO', 'PONTO_DE_REFERENCIA', 'MUNICIPIO', 'LATITUDE',
       'LONGITUDE', 'SITUACAO_ARMA', 'TIPO_ARMA', 'DATA_FATO', 'HORARIO_FATO',
       'QTDE__ARMAS_DE_FOGO'],
      dtype='object')

In [5]:
df_classif['VALIDADOR'] = df_classif['VALIDADOR'].str.upper().fillna("")
df_classif.drop_duplicates(['MUNICIPIO', 'VALIDADOR_TIPO', 'VALIDADOR'], inplace = True)
df_classif.set_index(df_classif['MUNICIPIO'] + " " + df_classif['VALIDADOR_TIPO'] + " " + df_classif['VALIDADOR'], inplace=True, verify_integrity=True)

Caixa alta e preenchimento de valores nulos

In [6]:
df_armas_fgo['BAIRRO_NAO_CADASTRADO'] = df_armas_fgo['BAIRRO_NAO_CADASTRADO'].fillna("").str.upper()
df_armas_fgo['LOGRADOURO_OCORRENCIA_NAO_CADASTRADO'] = df_armas_fgo['LOGRADOURO_OCORRENCIA_NAO_CADASTRADO'].fillna("").str.upper()
df_armas_fgo['LOGRADOURO_CRUZAMENTO_NAO_CADASTRADO'] = df_armas_fgo['LOGRADOURO_CRUZAMENTO_NAO_CADASTRADO'].fillna("").str.upper()
df_armas_fgo['COMPLEMENTO_ENDERECO'] = df_armas_fgo['COMPLEMENTO_ENDERECO'].fillna("").str.upper()
df_armas_fgo['PONTO_DE_REFERENCIA'] = df_armas_fgo['PONTO_DE_REFERENCIA'].fillna("").str.upper()

Função classifica setores

In [7]:
def classifica_setor(row):
    mun = row['MUNICIPIO']
    if mun not in ('DIVINOPOLIS', 'ITAUNA', 'NOVA SERRANA', 'CARMO DO CAJURU', 'SAO GONCALO DO PARA'):
        return mun
    elif mun  in ('CARMO DO CAJURU', 'SAO GONCALO DO PARA'):
        return 'C.CAJURU/S.G.PARA'
    elif ( mun + ' N_REDS ' + row['NUMERO_REDS'] ) in df_classif.index:
        return df_classif.loc[mun + ' N_REDS ' + row['NUMERO_REDS'], 'SETOR'] 
    elif ( mun + ' BAIRRO ' + row['BAIRRO'].upper() ) in df_classif.index:
        return df_classif.loc[mun + ' BAIRRO ' + row['BAIRRO'], 'SETOR']
    elif ( mun + ' BAIRRO_NAO_CAD ' + row['BAIRRO_NAO_CADASTRADO'].upper() ) in df_classif.index:
        return df_classif.loc[mun + ' BAIRRO_NAO_CAD ' + row['BAIRRO_NAO_CADASTRADO'], 'SETOR']
    elif ( mun + ' LOGRADOURO ' + row['LOGRADOURO_OCORRENCIA'] ) in df_classif.index:
        return df_classif.loc[mun + ' LOGRADOURO ' + row['LOGRADOURO_OCORRENCIA'], 'SETOR']
    elif ( mun + ' LOGRADOURO_NAO_CAD ' + row['LOGRADOURO_OCORRENCIA_NAO_CADASTRADO'] ) in df_classif.index:
        return df_classif.loc[mun + ' LOGRADOURO_NAO_CAD ' + row['LOGRADOURO_OCORRENCIA_NAO_CADASTRADO'], 'SETOR']
    elif ( mun + ' LOGRADOURO_CRUZ ' + row['LOGRADOURO_CRUZAMENTO'] ) in df_classif.index:
        return df_classif.loc[mun + ' LOGRADOURO_CRUZ ' + row['LOGRADOURO_CRUZAMENTO'], 'SETOR']
    elif ( mun + ' LOGRADOURO_CRUZ_NAO_CAD ' + row['LOGRADOURO_CRUZAMENTO_NAO_CADASTRADO'] ) in df_classif.index:
        return df_classif.loc[mun + ' LOGRADOURO_CRUZ_NAO_CAD ' + row['LOGRADOURO_CRUZAMENTO_NAO_CADASTRADO'], 'SETOR']
    elif ( mun + ' COMPLEMENTO_END ' + row['COMPLEMENTO_ENDERECO'] ) in df_classif.index:
        return df_classif.loc[mun + ' COMPLEMENTO_END ' + row['COMPLEMENTO_ENDERECO'], 'SETOR']
    elif ( mun + ' PONTO_REF ' + row['PONTO_DE_REFERENCIA'] ) in df_classif.index:
        return df_classif.loc[mun + ' PONTO_REF ' + row['PONTO_DE_REFERENCIA'], 'SETOR']
    else:
        return 'other'
df_armas_fgo['SETOR'] = df_armas_fgo.apply(lambda row: classifica_setor(row), axis=1)

Função classifica fração

In [8]:
conds=[
    #07ºbpm
    df_armas_fgo['SETOR']=='BOM DESPACHO',
    df_armas_fgo['SETOR']=='MOEMA',
    df_armas_fgo['SETOR']=='MARTINHO CAMPOS',
    df_armas_fgo['SETOR']=='LAGOA DA PRATA',
    df_armas_fgo['SETOR']=='JAPARAIBA',
    df_armas_fgo['SETOR']=='LUZ',
    df_armas_fgo['SETOR']=='CORREGO DANTA',
    df_armas_fgo['SETOR']=='SANTO ANTONIO DO MONTE',
    df_armas_fgo['SETOR']=='PEDRA DO INDAIA',
    df_armas_fgo['SETOR']=='ABAETE',
    df_armas_fgo['SETOR']=='CEDRO DO ABAETE',
    df_armas_fgo['SETOR']=='PAINEIRAS',
    df_armas_fgo['SETOR']=='DORES DO INDAIA',
    df_armas_fgo['SETOR']=='ESTRELA DO INDAIA',
    df_armas_fgo['SETOR']=='QUARTEL GERAL',
    df_armas_fgo['SETOR']=='SERRA DA SAUDADE',
    df_armas_fgo['SETOR']=='POMPEU',
    df_armas_fgo['SETOR']=='MORADA NOVA DE MINAS',
    df_armas_fgo['SETOR']=='BIQUINHAS',
    #23ºbpm
    df_armas_fgo['MUNICIPIO'] == 'ITAUNA',
    df_armas_fgo['MUNICIPIO'] == 'ITATIAIUCU',
    df_armas_fgo['SETOR'].isin(['HIPER CENTRO','BOM PASTOR','ALTO GOIAS']),
    df_armas_fgo['SETOR'].isin(['PLANALTO','SAO JOSE']),
    df_armas_fgo['SETOR'] == 'CLAUDIO',
    df_armas_fgo['SETOR'].isin(['NITEROI','PORTO VELHO']),
    df_armas_fgo['MUNICIPIO'] == 'CARMO DO CAJURU',
    df_armas_fgo['MUNICIPIO'] == 'SAO GONCALO DO PARA',
    #60ºbpm
    df_armas_fgo['SETOR'].isin(['SUPER CENTRO', 'ROMEU DUARTE', 'SAO GERALDO']),
    df_armas_fgo['SETOR'] == 'PERDIGAO',
    df_armas_fgo['SETOR'] == 'ARAUJOS',
    df_armas_fgo['SETOR'].isin(['CONCESSO ELIAS', 'SANTA SARA', 'ZONA RURAL']),
    df_armas_fgo['SETOR'] == 'PITANGUI',
    df_armas_fgo['SETOR'] == 'CONCEICAO DO PARA',
    df_armas_fgo['SETOR'] == 'LEANDRO FERREIRA',
    #63ºbpm
    df_armas_fgo['SETOR'] == 'ARCOS',
    df_armas_fgo['SETOR'] == 'IGUATAMA',
    df_armas_fgo['SETOR'] == 'PAINS',
    df_armas_fgo['SETOR'] == 'BAMBUI', 
    df_armas_fgo['SETOR'] == 'MEDEIROS',
    df_armas_fgo['SETOR'] == 'TAPIRAI',
    df_armas_fgo['SETOR'] == 'FORMIGA',    
    df_armas_fgo['SETOR'] == 'CORREGO FUNDO',
    df_armas_fgo['SETOR'] == 'PIMENTA',
    df_armas_fgo['SETOR'] == 'ITAPECERICA',
    df_armas_fgo['SETOR'] == 'CAMACHO',
    df_armas_fgo['SETOR'] == 'SAO SEBASTIAO DO OESTE',
    #19ª cia pm ind
    df_armas_fgo['SETOR'] == 'PARA DE MINAS',
    df_armas_fgo['SETOR'] == 'IGARATINGA',
    df_armas_fgo['SETOR'] == 'PEQUI',
    df_armas_fgo['SETOR'] == 'SAO JOSE DA VARGINHA', 
    df_armas_fgo['SETOR'] == 'ONCA DO PITANGUI',
    df_armas_fgo['SETOR'] == 'PAPAGAIOS',
    df_armas_fgo['SETOR'] == 'MARAVILHAS',
    
]

res1 = ['50ª CIA PM',  '2º GP - 2º PEL - 50ª CIA PM', '2º PEL - 118ª CIA PM', '107ª CIA PM','2º GP - 2º PEL - 107ª CIA PM',
        '3º PEL - 107ª CIA PM', '2º GP - 3º PEL - 107ª CIA PM', '4º PEL - 107ª CIA PM', '2º GP - 4º PEL - 107ª CIA PM',
        '141ª CIA PM', '2º GP - 1º PEL - 141ª CIA PM', '3º GP - 1º PEL - 141ª CIA PM', '2º PEL - 141ª CIA PM',
        '2º GP - 2º PEL - 141ª CIA PM','3º GP - 2º PEL - 141ª CIA PM', '4º GP - 2º PEL - 141ª CIA PM', '118ª CIA PM',
        '4º PEL - 141ª CIA PM', '2º GP - 4º PEL - 141ª CIA PM']

res2 = ['51ª CIA PM','2º GP - 3º PEL - 51ª CIA PM','53ª CIA PM','139ª CIA PM','3º PEL - 139ª CIA PM', '142ª CIA PM',
        '3º PEL - 142ª CIA PM','2º GP - 3º PEL - 142ª CIA PM']

res3 = ['279ª CIA PM','3º PEL - 279ª CIA PM','2º GP - 3º PEL - 279ª CIA PM','280ª CIA PM', '3º PEL - 280ª CIA PM',
        '2º GP - 3º PEL - 280ª CIA PM', '3º GP - 3º PEL - 280ª CIA PM']

res4 = ['241ª CIA PM','2º GP - 2º PEL - 241ª CIA PM' ,'3º GP - 2º PEL - 241ª CIA PM' , '3º PEL - 241ª CIA PM',
        '2º GP - 3º PEL - 241ª CIA PM','3º GP - 3º PEL - 241ª CIA PM','290ª CIA PM','2º GP - 2º PEL - 290ª CIA PM',
        '3º GP - 2º PEL - 290ª CIA PM','3º PEL - 290ª CIA PM','2º GP - 3º PEL - 290ª CIA PM','3º GP - 3º PEL - 290ª CIA PM']

res5 = ['19ª CIA PM IND','1º GP - 3º PEL - 19ª CIA PM IND','2º GP - 3º PEL - 19ª CIA PM IND',
        '3º GP - 3º PEL - 19ª CIA PM IND','4º GP - 3º PEL - 19ª CIA PM IND','1º GP - 4º PEL - 19ª CIA PM IND',
        '2º GP - 4º PEL - 19ª CIA PM IND']
      
resf = res1 + res2 + res3 + res4 + res5

df_armas_fgo['FRACAO'] = np.select(conds,resf,default='other')

Função classifica companhia

In [9]:
conds=[
    #07ºbpm
    df_armas_fgo['SETOR'].isin(['BOM DESPACHO', 'MOEMA']),
    df_armas_fgo['SETOR'].isin(['CORREGO DANTA', 'JAPARAIBA', 'LAGOA DA PRATA', 'LUZ', 'PEDRA DO INDAIA', 'SANTO ANTONIO DO MONTE']),
    df_armas_fgo['SETOR'].isin(['MARTINHO CAMPOS', 'POMPEU']),
    df_armas_fgo['SETOR'].isin(['ABAETE', 'BIQUINHAS', 'CEDRO DO ABAETE', 'DORES DO INDAIA', 'ESTRELA DO INDAIA', 'MORADA NOVA DE MINAS', 'PAINEIRAS', 'QUARTEL GERAL', 'SERRA DA SAUDADE']),
        
    #23ºbpm
    df_armas_fgo['MUNICIPIO'].isin(['ITAUNA','ITATIAIUCU']),
    df_armas_fgo['SETOR'].isin(['HIPER CENTRO','BOM PASTOR','ALTO GOIAS']),
    df_armas_fgo['SETOR'].isin(['PLANALTO','SAO JOSE','CLAUDIO']),
    df_armas_fgo['SETOR'].isin(['NITEROI','PORTO VELHO','C.CAJURU/S.G.PARA']),
    
    #60ºbpm
    df_armas_fgo['SETOR'].isin(['ARAUJOS', 'PERDIGAO', 'SUPER CENTRO', 'ROMEU DUARTE', 'SAO GERALDO']),
    df_armas_fgo['SETOR'].isin(['CONCEICAO DO PARA', 'LEANDRO FERREIRA', 'PITANGUI','CONCESSO ELIAS', 'SANTA SARA', 'ZONA RURAL']),
        
    #63ºbpm
    df_armas_fgo['SETOR'].isin(['ARCOS', 'BAMBUI', 'IGUATAMA', 'MEDEIROS', 'PAINS', 'TAPIRAI']),
    df_armas_fgo['SETOR'].isin(['CAMACHO', 'CORREGO FUNDO', 'FORMIGA', 'ITAPECERICA', 'PIMENTA', 'SAO SEBASTIAO DO OESTE']),
        
    #19ª cia pm ind
    df_armas_fgo['SETOR'].isin(['IGARATINGA', 'MARAVILHAS', 'ONCA DO PITANGUI', 'PAPAGAIOS', 'PARA DE MINAS', 'PEQUI', 'SAO JOSE DA VARGINHA']),    

    ]
res1 = ['50ª CIA','107ª CIA','118ª CIA','141ª CIA']
res2 = ['51ª CIA','53ª CIA','139ª CIA','142ª CIA']
res3 = ['279ª CIA','280ª CIA']
res4 = ['241ª CIA','290ª CIA']
res5 = ['19ª CIA PM IND']
resf = res1 + res2 + res3 + res4 +res5
df_armas_fgo['CIA'] = np.select(conds,resf,default='other')

Insere coluna UEOP

In [10]:
conds=[
    df_armas_fgo['MUNICIPIO'].isin(['ABAETE','BIQUINHAS','BOM DESPACHO','CEDRO DO ABAETE','CORREGO DANTA',
		'DORES DO INDAIA','ESTRELA DO INDAIA','JAPARAIBA','LAGOA DA PRATA','LUZ','MARTINHO CAMPOS','MOEMA',
		'MORADA NOVA DE MINAS','PAINEIRAS','PEDRA DO INDAIA','POMPEU','QUARTEL GERAL','SANTO ANTONIO DO MONTE',
		'SERRA DA SAUDADE']),
    df_armas_fgo['MUNICIPIO'].isin(['CARMO DO CAJURU','CLAUDIO','DIVINOPOLIS','ITATIAIUCU','ITAUNA','SAO GONCALO DO PARA']),
    df_armas_fgo['MUNICIPIO'].isin(['ARAUJOS','CONCEICAO DO PARA','LEANDRO FERREIRA','NOVA SERRANA','PERDIGAO','PITANGUI']),
    df_armas_fgo['MUNICIPIO'].isin(['ARCOS','BAMBUI','CAMACHO','CORREGO FUNDO','FORMIGA','IGUATAMA','ITAPECERICA','MEDEIROS','PAINS','PIMENTA','SAO SEBASTIAO DO OESTE','TAPIRAI']),
    df_armas_fgo['MUNICIPIO'].isin(['IGARATINGA','MARAVILHAS','ONCA DO PITANGUI','PAPAGAIOS','PARA DE MINAS','PEQUI','SAO JOSE DA VARGINHA']),
]
res=['07º BPM','23º BPM','60º BPM','63º BPM','19ª CIA PM IND']
df_armas_fgo['UEOP'] = np.select(conds,res,default='other')

Converte os campos data  de string para date e time

In [11]:
df_armas_fgo.columns

Index(['NUMERO_REDS', 'ORGAO_UNIDADE_REGISTRO', 'UNIDADE_AREA_MILITAR',
       'UNID_REGISTRO_NIVEL_6', 'CODIGO_SUBCLASSE_NAT_PRINCIPAL',
       'TENTADO_CONSUMADO_NAT_PRINCIPAL', 'LOGRADOURO_OCORRENCIA_-_TIPO',
       'LOGRADOURO_OCORRENCIA', 'LOGRADOURO_OCORRENCIA_NAO_CADASTRADO',
       'LOGRADOURO_CRUZAMENTO', 'LOGRADOURO_CRUZAMENTO_NAO_CADASTRADO',
       'NUMERO_LOGRADOURO', 'BAIRRO', 'BAIRRO_NAO_CADASTRADO',
       'COMPLEMENTO_ENDERECO', 'PONTO_DE_REFERENCIA', 'MUNICIPIO', 'LATITUDE',
       'LONGITUDE', 'SITUACAO_ARMA', 'TIPO_ARMA', 'DATA_FATO', 'HORARIO_FATO',
       'QTDE__ARMAS_DE_FOGO', 'SETOR', 'FRACAO', 'CIA', 'UEOP'],
      dtype='object')

In [12]:

df_armas_fgo['DATA_FATO'] =  pd.to_datetime(df_armas_fgo['DATA_FATO'], format='%d/%m/%Y', errors = 'coerce').dt.date
df_armas_fgo['HORARIO_FATO'] = pd.to_datetime(df_armas_fgo['HORARIO_FATO'], format='%H:%M:%S', errors = 'coerce').dt.time

Renomeia cada campo para melhorar a nomeclatura

In [13]:
# #pd.read_sql_table("tbl_crimes10", engine, columns =['Número REDS'])

# df_armas_fgo = df_armas_fgo.rename(columns={  'Número REDS' : 'NREDS', 
#                                         'Órgão Unidade Registro' : 'ORG_UN_REG', 
#                                         'Unidade Área Militar' : 'UN_AREA_MIL', 
#                                         'Unid Registro Nível 6' : 'UN_REGISTRO', 
#                                         'Código Subclasse Nat Principal' : 'COD_DIAO', 
#                                         'Tentado/Consumado Nat Principal' : 'T_C', 
#                                         'Logradouro Ocorrência - Tipo' : 'LOG_TIPO', 
#                                         'Logradouro Ocorrência' : 'LOGRADOURO', 
#                                         'Logradouro Ocorrência Não Cadastrado' : 'LOGRADOURO_NAO_CAD', 
#                                         'Logradouro Cruzamento' : 'LOGRADOURO_CRUZ', 
#                                         'Logradouro Cruzamento Não Cadastrado' : 'LOGRADOURO_CRUZ_NAO_CAD', 
#                                         'Número Logradouro' : 'N_LOG', 
#                                         'Bairro' : 'BAIRRO', 
#                                         'Bairro Não Cadastrado' : 'BAIRRO_NAO_CAD', 
#                                         'Complemento Endereço' : 'COMPLEMENTO_END', 
#                                         'Ponto de Referência' : 'PONTO_REF', 
#                                         'Município' : 'MUNICIPIO', 
#                                         'Latitude' :  'LATITUDE',  
#                                         'Longitude' :  'LONGITUDE', 
#                                         'Situação Arma' : 'SITUACAO_ARMA',
#                                         'Tipo Arma' : 'TIPO_ARMA',
#                                         'Data Fato' :  'DATA_FATO', 
#                                         'Horário Fato' : 'HORA', 
#                                         'Qtde  Armas de Fogo' : 'QTDE_ARM_FOGO',

#                               })

Salva em xlsx o resultado dos registros que não foram classificados

In [14]:
# df_invalidos = df_armas_fgo.loc[df_armas_fgo['SETOR']== 'other']
# #save_invalidos = r"C:\Users\Evandro\Desktop\invalidos_armas_fgo.xlsx"#Home
# save_invalidos = r"C:\Users\Geo\Desktop\invalidos_armas_fgo.xlsx"#Office
# df_invalidos.to_excel(save_invalidos, sheet_name='invalidados', index = False)
# df_invalidos.groupby(['SETOR'])['NREDS'].nunique()

Salva em planilha xlsx o resultado do processo

In [15]:
# #save = r"C:\Users\Evandro\Desktop\tbl_armas_fgo_setores.xlsx"#Home
# save = r"C:\Users\Geo\Desktop\tbl_envolvidos_setores.xlsx"#Office
# df_armas_fgo.to_excel(save, sheet_name='validados', index = False)

Insere  os dados na tabela do mysql

In [16]:
# import sqlalchemy
# engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:seo@localhost:3306/gdo')

# df_armas_fgo.to_sql(
#     name='tbl_armas_fgo', # database table name
#     con=engine,
#     if_exists='replace',
#     index=False
    
# )

Insere os dados na tabela do SGBD SQLite

In [17]:
def path_save():
    import os
    if os.path.isfile(r'I:\MySql\10 - Tbl_dimensao\gdo\tbl_homicidios_2019_ref.xlsx'):#home
        dir_save  = r"I:\MySql\10 - Tbl_dimensao\gdo\tbl_homicidios_2019_ref.xlsx"
    else:
        os.path.isfile(r'D:\Cloud\SQLite\10 - Source\bd_main\gdo.db')#office
        dir_save  = r"D:\Cloud\SQLite\10 - Source\bd_main\gdo.db"
    return "sqlite:///" + dir_save    
path_save()

'sqlite:///D:\\Cloud\\SQLite\\10 - Source\\bd_main\\gdo.db'

In [18]:
df_armas_fgo.to_sql('tbl_armas_fgo', path_save(), if_exists='replace', index=False)

#df_armas_fgo.to_sql('tbl_armas', r'sqlite:///C:\Users\Evandro\pandas\gdo.db', if_exists='replace', index=False)